<!DOCTYPE html>
<html lang="en">

<head>
    <title>PS Invoice App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        body {
            font-family: 'Roboto';
            background-color: #f7f7f7;
        }

        .container {
            margin: 10px auto;
        }
    </style>
</head>

<body>

    <div class="container">
        <div id="app">
            <form action="#" method="post" id="invoiceForm">
                <!-- csrf -->
            
                <input type="hidden" name="finalTaxable0" id="finalTaxable0" value="">
                <input type="hidden" name="finalTaxable5" id="finalTaxable5" value="">
                <input type="hidden" name="finalTaxable12" id="finalTaxable12" value="">
                <input type="hidden" name="finalTaxable18" id="finalTaxable18" value="">
                <input type="hidden" name="finalTaxable28" id="finalTaxable28" value="">
            
                <input type="hidden" name="finalTotalTax" id="finalTotalTax" value="">
                <input type="hidden" name="finalTotalTaxable" id="finalTotalTaxable" value="">
                <input type="hidden" name="finalGT" id="finalGT" value="">
            
                <div class='row no-margin'>
                    <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
                        <div class="logo">
                            <img src="http://demo.smarttutorials.net/insert-dynamically-added-input-fields-invoice-table-data-mysql-database-php-jquery-bootstrap3/img/logo.png"
                                alt="Company Logo">
                        </div>
                        <h4>Sankhala Ventures Pvt Ltd</h4>
                        <p>
                            No: 101 JC Road Near Town Hall
                            Bangalore - 560002.
                        </p>
                    </div>
            
            
                </div>
                <hr>
                <div class="row no-margin">
                    <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
                        <h4>Invoice To</h4>
                        <div class="form-group">
                            <label for="clientCompanyName">Customer Name</label>
                            <input type="text" class="form-control" name="clientCompanyName" id="clientCompanyName"
                                placeholder="Company Name" value="PANKAJ SANKHLA">
                        </div>
                        <div class="form-group">
                            <label for="clientAddress">Address</label>
                            <textarea class="form-control" rows='3' name="clientAddress" id="clientAddress"
                                placeholder="Your Address">Beawar Rajasthan - 305901</textarea>
                        </div>
                        <div class="form-group">
                            <label for="supplyPlaceState">Place of Supply</label>
                            <select class="form-control" id="supplyPlaceState" name="supplyPlaceState" v-model="clientStateCode">
                                <option value="0">Select State</option>
                                <option value="35">35-[AN] Andaman and Nicobar Islands</option>
                                <option value="37">37-[AD] Andhra Pradesh</option>
                                <option value="12">12-[AR] Arunachal Pradesh</option>
                                <option value="18">18-[AS] Assam</option>
                                <option value="10">10-[BR] Bihar</option>
                                <option value="04">04-[CH] Chandigarh</option>
                                <option value="22">22-[CG] Chattisgarh</option>
                                <option value="26">26-[DN] Dadra and Nagar Haveli</option>
                                <option value="25">25-[DD] Daman and Diu</option>
                                <option value="07">07-[DL] Delhi</option>
                                <option value="30">30-[GA] Goa</option>
                                <option value="24">24-[GJ] Gujarat</option>
                                <option value="06">06-[HR] Haryana</option>
                                <option value="02">02-[HP] Himachal Pradesh</option>
                                <option value="01">01-[JK] Jammu and Kashmir</option>
                                <option value="20">20-[JH] Jharkhand</option>
                                <option value="29">29-[KA] Karnataka</option>
                                <option value="32">32-[KL] Kerala</option>
                                <option value="31">31-[LD] Lakshadweep Islands</option>
                                <option value="23">23-[MP] Madhya Pradesh</option>
                                <option value="27">27-[MH] Maharashtra</option>
                                <option value="14">14-[MN] Manipur</option>
                                <option value="17">17-[ML] Meghalaya</option>
                                <option value="15">15-[MZ] Mizoram</option>
                                <option value="13">13-[NL] Nagaland</option>
                                <option value="21">21-[OD] Odisha</option>
                                <option value="34">34-[PY] Pondicherry</option>
                                <option value="03">03-[PB] Punjab</option>
                                <option value="08">08-[RJ] Rajasthan</option>
                                <option value="11">11-[SK] Sikkim</option>
                                <option value="33">33-[TN] Tamil Nadu</option>
                                <option value="36">36-[TS] Telangana</option>
                                <option value="16">16-[TR] Tripura</option>
                                <option value="09">09-[UP] Uttar Pradesh</option>
                                <option value="05">05-[UK] Uttarakhand</option>
                                <option value="19">19-[WB] West Bengal</option>
                            </select>
                        </div>
                    </div>
                    <div style="margin-left: 30%" class='col-xs-12 col-md-4 col-lg-4 float-right'>
                        <h4>&nbsp;</h4>
                        <div class="form-group">
                            <label for="invoiceNo">Invoice No.</label>
                            <input type="number" class="form-control" name="invoiceNo" id="invoiceNo" placeholder="Invoice No"
                                value="1001" required>
                        </div>
                        <div class="form-group">
                            <label for="invoiceDate">Invoice Date</label>
                            <input type="text" class="form-control" name="invoiceDate" id="invoiceDate" placeholder="Invoice Date"
                                value="" required>
                        </div>
                        <div class="form-group">
                            <label for="amountDueTop">Previous Due</label>
                            <input type="number" class="form-control amountDue" id="amountDueTop" name="amountDueTop"
                                placeholder="Amount Due" value="1000" readonly required>
                        </div>
                    </div>
                </div>
            
                <hr>
            
                <table class="table table-striped table-bordered" id="data">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" v-if="prodCodeEnabled">Item No</th>
                        <th scope="col">Item Name</th>
                        <th scope="col" v-if="hsnEnabled">HSN</th>
                        <th scope="col text-right">Price</th>
                        <th scope="col text-right">Qty</th>
                        <th scope="col text-right" v-if="discountEnabled">Disc[%]</th>
                        <th scope="col text-right" style="width: 10%">GST[%]</th>
                        <th scope="col text-right" style="width: 12%">GST[&#8377;]</th>
                        <th scope="col text-right">Total</th>
                    </tr>
                    <tr v-for="(invoice_product, k) in invoice_products" :key="k">
                        <td scope="row" class="trashIconContainer">
                            <i class="far fa-trash-alt" @click="deleteRow(k, invoice_product)"></i>
                        </td>
                        <td  v-if="prodCodeEnabled">
                            <input class="form-control" type="text" v-model="invoice_product.product_no" />
                        </td>
                        <td style="width: 40%">
                            <input class="form-control" type="text" v-model="invoice_product.product_name"/>
                        </td>
                        <td v-if="hsnEnabled">
                            <input class="form-control" type="text" v-model="invoice_product.product_name"/>
                        </td>
                        <td>
                            <input class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.product_price"
                                v-on:keyup="calculateLineTotal(invoice_product)" />
                        </td>
                        <td>
                            <input class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.product_qty"
                                v-on:keyup="calculateLineTotal(invoice_product)" />
                        </td>
                        <td v-if="discountEnabled">
                            <input class="form-control text-right" type="number" min="0" :max="100" step=".01"
                                v-model="invoice_product.product_discount" v-on:keyup="calcLineGstAmt(invoice_product)" value="0" />
                        </td>
                        <td>
                            <select class="form-control itemgstpercent" v-model="invoice_product.product_gstrate"
                                @change="calcLineGstAmt(invoice_product)">
                                <option value="0" selected>0%</option>
                                <option value="5">5%</option>
                                <option value="12">12%</option>
                                <option value="18">18%</option>
                                <option value="28">28%</option>
                            </select>
                            <!-- <input class="form-control text-right" type="number" min="0" step=".01"
                                                v-model="invoice_product.product_gstrate" v-on:keyup="calcLineGstAmt(invoice_product)" /> -->
                        </td>
                        <td>
                            <input readonly class="form-control text-right" type="number" min="0" step=".01"
                                v-model="invoice_product.product_gstamt" />
                        </td>
                        <td>
                            <input readonly class="form-control text-right" type="number" min="0" step=".01"
                                v-model="invoice_product.line_total" />
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6'>
                        <button id="addnew" class="btn btn-info addmore" type="button" @click="addNewRow" v-shortkey="['ctrl', 'shift', 'a']" @shortkey="addNewRow()">Add More</button>
                        <br>
                        <br>
                        <!-- Tax Calculation Table -->
                        <table class="table table-hover" v-if="invoice_totaltax > 0">
                            <thead>
                                <tr>
                                    <th scope="col">Tax Rate</th>
                                    <th scope="col">Taxable</th>
                                    <th scope="col" v-if="sellerStateCode == clientStateCode">CGST[&#8377;]</th>
                                    <th scope="col" v-if="sellerStateCode == clientStateCode">SGST[&#8377;]</th>
                                    <th scope="col" v-else>IGST [&#8377;]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="totaltaxofrate5 > 0">
                                    <th scope="row">5%</th>
                                    <td>{{invoice_totaltableofrate5}}</td>
                                    <td v-if="sellerStateCode == clientStateCode">{{divideByTwo(totaltaxofrate5)}}</td>
                                    <td v-if="sellerStateCode == clientStateCode">{{divideByTwo(totaltaxofrate5)}}</td>
                                    <td v-else>{{totaltaxofrate5}}</td>
                                </tr>
                                <tr v-if="totaltaxofrate12 > 0">
                                    <th scope="row">12%</th>
                                    <td>{{invoice_totaltableofrate12}}</td>
                                    <td v-if="sellerStateCode == clientStateCode">{{divideByTwo(totaltaxofrate12)}}</td>
                                    <td v-if="sellerStateCode == clientStateCode">{{divideByTwo(totaltaxofrate12)}}</td>
                                    <td v-else>{{totaltaxofrate12}}</td>
                                </tr>
                                <tr v-if="totaltaxofrate18 > 0">
                                    <th scope="row">18%</th>
                                    <td>{{invoice_totaltableofrate18}}</td>
                                    <td v-if="sellerStateCode == clientStateCode">{{divideByTwo(totaltaxofrate18)}}</td>
                                    <td v-if="sellerStateCode == clientStateCode">{{divideByTwo(totaltaxofrate18)}}</td>
                                    <td v-else>{{totaltaxofrate18}}</td>
                                </tr>
                                <tr v-if="totaltaxofrate28 > 0">
                                    <th scope="row">28%</th>
                                    <td>{{invoice_totaltableofrate28}}</td>
                                    <td v-if="sellerStateCode == clientStateCode">{{divideByTwo(totaltaxofrate28)}}</td>
                                    <td v-if="sellerStateCode == clientStateCode">{{divideByTwo(totaltaxofrate28)}}</td>
                                    <td v-else>{{totaltaxofrate28}}</td>
                                </tr>
                        
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th scope="row">Total</th>
                                    <th>{{invoice_subtotal}}</th>
                                    <th v-if="sellerStateCode == clientStateCode">{{invoice_totalcgstsgst}}</th>
                                    <th v-if="sellerStateCode == clientStateCode">{{invoice_totalcgstsgst}}</th>
                                    <th v-else>{{invoice_totaltax}}</th>
                                </tr>
                            </tfoot>
                        </table>
                        <!-- Tax Analysis Table Ends Here -->
                        <br>
                        <h4>Notes: </h4>
                        <div class="form-group">
                            <textarea class="form-control" rows='5' name="notes" id="notes" placeholder="Your Notes"></textarea>
                        </div>
            
                        <input class="btn btn-primary" type="button" id="submitBtn" value="Create Invoice">
                        <input class="btn btn-info" type="submit" value="Back">
                    </div>
                    <!-- ************* -->
                    <div style="margin-left: 25%"
                        class='col-xs-offset-2 col-xs-9 col-sm-offset-2 col-md-offset-3 col-lg-offset-3 col-sm-4 col-md-3 col-lg-3'>
            
                        <div class="form-group">
                            <label>Subtotal: &nbsp;</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">&#8377;</span>
                                </div>
                                <input readonly min="0" type="number" class="form-control" name="invoice_subtotal"
                                placeholder="Subtotal" v-model="invoice_subtotal">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label v-if="sellerStateCode == clientStateCode">Total [CGST + SGST] : &nbsp;</label>
                            <label v-else>Total IGST Amount: &nbsp;</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">&#8377;</span>
                                </div>
                                <input readonly min="0" type="number" class="form-control" name="tax_percent" id="totalTaxAmt" placeholder="Tax" v-model="invoice_totaltax">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Grand Total: &nbsp;</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">&#8377;</span>
                                </div>
                                <input readonly min="0" type="text" class="form-control" name="invoice_total"
                                    id="grandTotal" v-model="invoice_grandtotal">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
<!-- Vue JS Code -->
    <script src="invoiceVueApp.js"></script>
</body>
</html>